.player {
    width: 100%;
}

.passage {
    width: 100px;
    font-weight: 600;
}

.params {
    font-weight: 400; 
    margin: 0;
}

.table {
    table-layout: fixed;
    vertical-align: middle;
}

.table td {
    vertical-align: middle !important;
}

.abstract {
    margin: 0;
    max-width: 60%;
    margin: 0 auto !important; 
	float: none !important; 
}

.target {
    color: rgb(126, 126, 126);
    font-weight: 600;
}

.signaltrain {
    color: rgb(67,74,101);
    font-weight: 600;
}

.tcn {
    color: rgb(227, 126, 35);
    font-weight: 600;
}

.lstm {
    color: rgb(89, 146, 54);
    font-weight: 600;
}

.detail {
    font-size: small;
    font-weight: 500;
}

.btn {
    border-radius: 20px;
}